* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    text-align: center;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    margin: 35px auto;
}

a {
    font-size: 16px;
    color: aquamarine;
}

video {
    margin: 20px auto;
}

p {
    font-size: 21px;
    color: gray;
    margin: 20px auto;
}

.subheading {
    font-size: 42px;
    font-weight: 300;
}